aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
Automat==20.2.0
autopep8==1.5.4
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
constantly==15.1.0
cryptography==3.0
cssselect==1.1.0
fasttext==0.9.2
Flask==1.1.2
helium==3.0.4
hyperlink==20.0.0
idna==2.8
idna-ssl==1.1.0
incremental==17.5.0
itemadapter==0.1.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
lxml==4.5.2
MarkupSafe==1.1.1
multidict==4.7.6
nltk==3.5
numpy==1.19.1
pandas==1.1.0
parsel==1.6.0
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.5.0
pycodestyle==2.6.0
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pyquery==1.4.1
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-graphql-client==0.3.0
pytz==2020.1
pyvi==0.1
queuelib==1.5.0
regex==2020.7.14
requests==2.22.0
scikit-learn==0.23.1
scipy==1.5.2
Scrapy==2.2.1
selenium==3.141.0
service-identity==18.1.0
six==1.15.0
sklearn-crfsuite==0.3.6
soupsieve==2.0.1
tabulate==0.8.7
threadpoolctl==2.1.0
toml==0.10.1
tqdm==4.48.0
Twisted==20.3.0
typing==3.7.4.3
typing-extensions==3.7.4.2
urllib3==1.25.10
w3lib==1.22.0
websockets==8.1
Werkzeug==1.0.1
yarl==1.5.1
zope.interface==5.1.0
